.sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 5, 5, 0.971);
  color: white;
  flex-direction: column;
}

.sidebar-header {
  display: flex;
  height: 150px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.sidebar-item {
  display: flex;
  justify-content: center;
  font-size: 24px;
  height: 60px;
  text-decoration: none;
  color: white;
  align-items: center;
}

.active {
  background-color: white;
  color: black;
}

.sidebar-item:hover {
  opacity: 0.8;
  cursor: pointer;
}